:root{
  --color-primary:#FDC30A;
  --black: #000103;
  --grey: #181715;  
  --white:#ffffff;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a{
  text-decoration:none;
  color: var(--white);
}
.metade{
  width: 100%;
}
.center-vertical{
  align-self: center;
}
.parent{
  display: flex;
  flex-wrap: wrap;
}
.child{
  flex: 1 1 350px;
  margin-left: 4vw;
  margin-right: 4vw;
}


/* HEADER */
header{
  background: var(--black);
  height: 8vh;
  width: 100%;  
  position: fixed;
  z-index: 10;
}
.logo{
  color: var(--white);
  font-family: 'Bebas Neue', cursive;
  font-size: 26px;
  width: 50vw;
  align-self: center;
  margin:4 auto;
  text-align: center;  
}
.menu-itens{
  width: 50vw;
  display: flex;  
}
.menu-itens ul{
  padding:0px;
  margin:4 auto;
  width: 100%;
  list-style:none;
  text-align: center;
  align-self: center;
}
.menu-itens ul li{
  color: var(--white);
  display: inline;
  margin: 10px;
}

/* SECTION INICIAL */
.section-inicial{
  min-height: 100vh;
  background: var(--black);
  padding-top: 50px;
}
.txt-init{
  color: var(--white);
  align-self: center;
}
.txt-init h2{
  margin: 0px;
  font-size: 8vw;
  text-align: center;
}
.txt-init p{
  margin: 0px;
  font-size: 4vw;
  text-align: center;
}
.button-init{
  background-color: #ffffff00;
  color: var(--white);
  border: 1px var(--white) solid;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  outline: none;  
  margin:0 auto;
  display:block;
}
.button-init:hover{
  background-color: var(--white);
  color: var(--black);
}
.img-init{
  color: var(--white);
  display: flex;
  justify-content: center;
}
.img-lamp{
  width: 50%;
  align-self: center;
}

/* SECTION POLUICAO */
.section-poluicao{
  min-height: 100vh;
  background: var(--white);
}
.titulo-poluicao{
  width: 100%;  
  text-align: center;
}
.box-poluicao{
  height: 100%;
}
.box-img-poluicao{
  align-self: center;
  justify-content: center;

}
.img1-poluicao{
  width: 100%;
}
.box-txt-poluicao{
  align-self: center;
 
}
.box-txt-poluicao p{
  text-align: center;
  font-size: 20px;
}
.box-txt-poluicao h2{
  font-size: 34px;
}

/* SECTION SOLUCAO */
.section-solucao{
  min-height: 100vh;
  background: var(--black); 
  position: relative; 
}
.titulo-solucao{
  color: var(--white);  
  text-align: center;
  font-size: 34px;
}
.bottom-detail-solution{
  width: 100vw;
}
.box-bottom-detail-solucao{
  position: absolute;
  bottom: 0px;
}
.box-solucao{
  width: 100vw;  
  height: 80%;
}
.box-solucao-text{      
  align-self: center;
}
.box-solucao-text p{
  font-size: 20px;
}
.box-solucao-video{      
  align-self: center;
}
.video-solucao{
  align-self: center;
  width: 100%;
  height: 50%;  
  z-index: 9;
}
.text-solucao{
  align-self: center;
  color: var(--white);  
}


/* SECTION ODS */
.section-ods{
  background-size: cover;
  background-image: url('imgs/background-ods.svg');
  background-color: var(--black); 
}
.box-imgs-ods{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  transition: 0.1s linear;
}
.box-imgs-ods:hover{
  transform: scale(1.11);
}
.top-detail-ods{
  width: 100%;
}
.top-detail-ods img{
  width: 100%;
  margin-bottom: 80px;
}
.top-detail-text{
  position: absolute;
  width: 100%;
  text-align: center;  

}
.top-detail-text h3{
  color: var(--white);
  font-size: 6vw;
  margin: 0;
}
.top-detail-text p{
  color: var(--white);
  font-size: 2vw;
  margin: 4 16vw;

}

/* FOOTER */
footer{  
  background-color: var(--grey);
  color: var(--white);
}
.botao-footer{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--black);
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: var(--color-primary);
  overflow: hidden;
  position: relative;
  text-align: center;
}
.botao-footer i{
  line-height: 50px;
  font-size: 20px;  
  transition: 0.2s linear;
}
.botao-footer:hover i{
  transform: scale(1.3);
  color: var(--black);
}

.botao-footer:before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: var(--color-primary);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;  
}

.botao-footer:hover::before{
  animation: anim 0.7s 1;
  top: -10%;
  left: -10%;
}
.buttons-footer{
  display: flex;
  justify-content: center;
}

.img-profile{
  margin-left: 2vw;
  margin-right: 2vw;
  width: 26vw;
  border-radius: 1000px;
  box-shadow: 0 5px 15px -5px #00000070;
}

.box-profile{
  text-align: center;  
}
.box-profile p{
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: left;  
}
.img-bottom-tema{
  width: 100%;
}

@keyframes anim{
  0%{
    left: -110%;
    top: 90%;  
  }
  50%{
    left: 10%;
    top: -30%;  
  }
  100%{
    left: -10%;
    top: -10%;  
  }
}


@media only screen and (min-width: 700px) {

  .txt-init p{
    font-size: 1.5vw;
  }
  .txt-init{
    color: var(--white);
    align-self: center;
    padding: 4vw;
  }
  .txt-init h2{
    margin: 0px;
    font-size: 5vw;
    text-align: left;
  }
  .txt-init p{
    margin: 0px;
    font-size: 2vw;
    text-align: left;
  }
  .button-init{
    margin:0 0;
  }
  header{
    height: 5vh;
  }
  .img-profile{
    width: 12vw;
  }
}

  /* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121212;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}